.skills-container {
  width: 100vw;
  max-width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-content-container {
  width: 80vw;
  display: flex;
}

.info-skills-container h4 {
  font-size: 60px;
  margin: 0;
}
.info-skills-container p {
  font-size: 20px;
  margin: 0;
}

.skills-list{
  text-align: center;
}

.skills-list ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 30px;
}

.skills-list li > svg {
  transform: scale(1.5);
  transition: 0.8s;
}

.skills-list li:hover > svg {
  animation: aniskill 1.2s linear;
  transform: scale(1.9);
  transition: 0.5s;
}

.torch-container {
  width: 350px;
}

.svg-torch {
  height: 150%;
  background-image: url(../images/Recurso\ 1iconAFaaff.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes aniskill {
  0% {
    outline: 0;
    border-radius: 30px;
  }
  25% {
    outline: 7px solid #218ffe59;
    border-radius: 30px;
  }
  50% {
    outline: 15px solid #218ffe2d;
    border-radius: 30px;
  }
  100% {
    outline: 25px solid #218ffe00;
    border-radius: 30px;
  }
}
