.aboutContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0 50px 0;
}
.aboutSection {
  width: 90%;
  max-width: 1300px;
  display: flex;
  gap: 50px;
}

.aboutMePictureContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMePicture {
  width: 100%;
  height: 550px;

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 9px;
}
.aboutInfoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.aboutInfoContainer h2 {
  font-size: 32px;
}

.aboutInfoContainer h3 {
  font-weight: 400;
  font-size: 16px;
  color: var(--purple);
  text-transform: uppercase;
}

.aboutInfoContainer p {
  text-align: justify;
}

.availableContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
}

.dotAvailable {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: lightgreen;
}

.socialButtons {
  display: flex;
  gap: 15px;
  padding: 5px 0;
}

.socialButtons a {
  color: var(--textColor);
}
.aboutInfoContainer p {
  padding: 5px 0 20px 0;
  font-weight: 400;
}
.ButtonsContainer {
  display: flex;
  gap: 25px;
}
.buttonPrimary {
  background-color: var(--purple);
  padding: 10px 18px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  border: solid 1.6px var(--purple);
  font-size: 16px;
}

.buttonSecundary {
  border: solid 1.6px var(--textColor);
  padding: 10px 18px;
  columns: var(--blackbg);
  font-weight: 400;
  border-radius: 25px;
  cursor: pointer;
  color: var(--textColor);
  background-color: transparent;
  transition: 0.4s;
  font-size: 16px;
}

.buttonSecundary:hover {
  background-color: var(--textColor);
  color: var(--blackbg);
}

@media (max-width: 1200px) {
  .aboutContainer {
    padding: 0;
  }
  .aboutSection {
    flex-direction: column;
  }

  .aboutMePictureContainer {
    width: 100%;
  }

  .aboutMePicture {
    background-position: center;
  }
  .aboutInfoContainer {
    width: 100%;
  }

  .button-primary {
    text-align: center;
  }
  .button-secundary {
    text-align: center;
  }
  .skillsContainer {
    padding: 0 !important;
  }
}
