.skills-container {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.skills-content-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.info-skills-container p {
  font-size: 20px;
  margin: 0;
}
