.contact-container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18vh;
}
.contact-form {
  margin-bottom: 20px;
}
.contact-form h2 {
  text-align: center;
}

.contact-form input {
  width: 50vw;
  height: 40px;
  display: block;
  margin: 5px 0;
  border-radius: 7px;
  background-color: var(--blackbg);
  border: 2px solid var(--textColor);
  color: white;
  font-size: 16px;
}

#message {
  width: 50vw;
  max-width: 50vw;
  height: 120px;
  border-radius: 7px;
  background-color: var(--blackbg);
  border: 2px solid var(--textColor);
  color: white;
  font-size: 16px;
  display: block;
  margin: 8px 0;
}

.send-button {
  background-color: var(--purple);
  padding: 15px;
  color: white;
  font-family: poppins;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 5px;
  border: none;

}
