.contact-container{
    width: 100vw;
    height: fit-content;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-content-container{
    width: 70vw;
    display: flex;
    padding: 100px 0 100px 0;
}
.footer-form{
    width: 50%;
}
.footer-form h2{
    font-size: 52px;
}

form{
    width: 400px;
}

input{
    width: 400px;
    height: 40px;
    display: block;
    margin: 5px 0;
    background-color: aliceblue;
}

