.front-container{
    width: 100vw;
    max-width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.front-info{
    max-width:fit-content;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 15px;
    border-radius: 20px;
}
.front-info h4{
    font-size: 55px;
    margin:0;
    padding: 0;
    line-height: 60px;
}

.front-info p{
    font-size: 18px;
    margin:0;
}

.front-buttons{
    display: flex;
}

.button-front{
    width: 30px;
    height: 30px;
    margin: 9px;
    border-radius: 12px;
    cursor: pointer;
    
}
.button-front:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.button-front.git{
    background-image: url(https://cdn-icons-png.flaticon.com/512/4926/4926624.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.button-front.linkedin{
    background-image: url(https://cdn-icons-png.flaticon.com/512/3938/3938044.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.button-front.instagram{
    background-image: url(https://cdn-icons-png.flaticon.com/512/1409/1409946.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.picture-container{
    width:max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture{
    width: 350px;
    height: 350px;
    background-image: url(../images/me.png);
    background-size: cover;
    border-radius: 100%;
    background-repeat: no-repeat;
}

/* Scroll Button */

@keyframes scroll-sign {
    0%{ transform: translatey(0) rotate(90deg);}
    50%{ transform: translatey(-10px) rotate(90deg);}
    100%{ transform: translatey(0) rotate(90deg);}


}

.scroll{
    user-select: none;
    text-align: center;
    line-height: 45px;
}
.scroll h4{
    font-weight: 300;
    animation: scroll-sign 1s infinite;
    
}
.scroll a:link, a:visited{
    cursor: pointer;
    text-decoration:none;
    color: white;
    
}

.right{
    position: absolute;
    right: 5px;
    bottom: 20px;
}

.left{
    position: absolute;
    left: 5px;
    bottom: 20px;
}



/* Scroll animation */

