nav {
  width: 100vw;
  max-width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(9px);
  position: fixed;
  top: 0;
}

.nav-mobile {
  display: none;
}

.nav-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo .logotype {
  color: var(--textColor);
  font-size: 32px;
  font-weight: 600;
  margin-left: 12px;
}

.img-me {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-image: url(../images/me.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  border: 3px solid var(--purple);
}

.routes-section {
  display: flex;
}

.ul-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
  margin: 0 0 0 20px;
}

.ul-nav li {
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  margin: 0 20px 0 0;
}
.ul-nav li:hover {
  text-decoration: underline 1.5px;
  /* border-bottom: solid 2px white; */
}

.button-cv-container {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.button-cv {
  max-width: 110px;
  padding: 9px;
  border-radius: 7px;
  background-color: var(--purple);
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}

.button-cv span {
  font-size: 16px;
  color: white;
}

.button-cv:hover {
  filter: brightness(1.2);
  transition: 0.8s;
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 575px) and (max-width: 1200px) {
  nav {
    display: none;
  }

  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px 20px;
    background-color: var(--blackbg);
  }

  .logo .logotype {
    font-size: 22px;
    font-weight: 400;
    /* margin-left: 12px; */
  }

  .img-me {
    width: 50px;
    height: 50px;
  }
}

/* Teléfonos */
@media only screen and (max-width: 575px) {
  nav {
    display: none;
  }

  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 15px 0;
    background-color: var(--blackbg);
  }

  .logo .logotype {
    font-size: 22px;
    font-weight: 400;
    /* margin-left: 12px; */
  }

  .img-me {
    width: 50px;
    height: 50px;
  }
}
