.box-work-main {
  width: 300px;
  cursor: pointer;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.24);
}

@keyframes imgScale {
  0% {
    background-size: 135%;
  }
  100% {
    background-size: 190%;
  }
}
.box-work-main:hover > .img-project-container {
  animation: imgScale 12s linear;
  background-size: 190%;
}

.img-project-container {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-size: 135%;
  background-position-x: center;
}

.description-project-container {
  color: black;
  padding: 20px;
  margin: 0;
  border-radius: 0 0 20px 20px;
  background-color: white;
  display: block;
}
.description-project-container h5 {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.technology-project-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
