.works-container{
    width: 100vw;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.works-content-container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    
}
.works-content-container h4{
    font-size: 30px;
}
.box-works-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 50px
}


