.about-container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 140px;
}

.about-content-container {
  width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.img-about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.img-about-container img {
  width: 85%;
  border-radius: 7px;
}
.about-info {
  width: 50%;
}
.about-info h4 {
  font-size: 38px;
  margin: 0;
}
.about-info p {
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 575px) and (max-width: 1200px) {
  .about-container {
    height: fit-content;
    text-align: justify;
    margin-top: 20px;
  }

  .about-content-container {
    flex-direction: column;
  }

  .img-about-container {
    width: 100%;
    margin-top: 20px;
  }
  .about-info {
    width: 100%;
  }

  .img-about-container img {
    width: 100%;
  }
}

/* Teléfonos */
@media only screen and (max-width: 575px) {
  .img-about-container img {
    width: 100%;
  }

  .about-container {
    height: fit-content;
    text-align: justify;
    margin-top: 20px;
  }

  .about-content-container {
    flex-direction: column;
  }

  .img-about-container {
    width: 100%;
    margin-top: 20px;
  }
  .about-info {
    width: 100%;
  }
}
