.box-work-main {
  width: 32em;
  height: 170px;
  cursor: pointer;
  display: flex;
  padding: 10px;
  border-radius: 9px;
}
.box-work-main:hover {
  background-color: var(--secundary);
}
.img-project-container {
  min-width: 200px;
  width: 200px;
  border-radius: 9px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.info-project-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}

.info-project-container h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.info-project-container p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.tech-project-container{
  color: var(--purple);
  font-style: italic;
}
