.box-work-main {
  width: 45%;
  height: 170px;
  cursor: pointer;
  border-radius: 9px;
  padding: 15px;
  box-sizing: content-box;
}

.box-work-section {
  height: 100%;
  display: flex;
}
.box-work-main:hover {
  background-color: var(--secundary);
}
.img-project-container {
  min-width: 200px;
  width: 200px;
  border-radius: 9px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.info-project-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}

.info-project-container h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.info-project-container p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.tech-project-container {
  color: var(--purple);
  font-style: italic;
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .box-work-main {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .box-work-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .img-project-container {
    width: 100%;
    height: 300px;
  }

  .info-project-container {
    margin: 0;
  }

  .box-work-main:hover {
    background-color: transparent;
  }
}

/* Teléfonos */
@media only screen and (max-width: 575px) {
  .box-work-main {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .box-work-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .img-project-container {
    width: 100%;
    height: 300px;
  }

  .info-project-container {
    margin: 0;
  }

  .box-work-main:hover {
    background-color: transparent;
  }
}
