.works-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-content-container {
  width: 90%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

.nav-works {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.nav-works h4 {
  font-size: 30px;
  margin: 0;
}
.box-works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  row-gap: 30px;
}

.workRefRecive {
  padding-top: 100px;
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 575px) and (max-width: 1200px) {
  .box-works-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.selectWorks {
  outline: none;
  border-radius: 25px;
  padding: 10px;
  font-family: "Montserrat";
  background-color: aliceblue;

  cursor: pointer;
}
.selectWorks option {
  background-color: aliceblue;
  cursor: pointer;
}

option:checked {
  background-color: aliceblues;
}

/* Teléfonos */
@media only screen and (max-width: 575px) {
  .box-works-container {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-bottom: 25px;
  }

  .works-content-container {
    justify-content: center;
  }
}
