.resourceCardContainer {
  width: 31%;
}

.resourceCardContainer a {
  color: var(--textColor);
}

.resourceCardSection {
}

.resourceImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  border-radius: 6px;
  cursor: pointer;
  filter: brightness(0.8);
  transition: 0.4s;
}

.resourceImg:hover {
  filter: brightness(1);
}

.resourceDescriptionContainer {
  padding: 10px 0;
}

.resourceDescriptionContainer p {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .resourceCardContainer {
    width: 100%;
  }
}
