@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* --blackbg: #202023; #161618  #0d1117*/
  --blackbg: #0d1117;
  --secundary: #1c2833;
  --purple: #218ffe;
  --cyan: #0dcaf0;
  --textColor: white;
}

html{
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  max-width: 100%;
  margin: 0;
  font-family: poppins, sans-serif;
  background-color: var(--blackbg);
  color: var(--textColor);
}

body li {
  color: var(--textColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

body .cyan-1 {
  color: var(--cyan);
}

body .purple-1 {
  color: var(--purple);
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secundary);
  border-radius: 20px;
  border: 1px solid var(--purple);
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
